<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-model</title>
</head>
<script src='http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js'></script>
<body id="example">
<div id="ex1">
    <input v-model="msg" number /><br/>
    {{msg}}
</div>
<div id="ex2">
    <input v-model="msg" lazy /><br/>
    {{msg}}
</div>
<div id="ex3">
    <input v-model="msg" debounce="5000" /><br/>
    {{msg}}
</div>
</body>
<!--v-model后可加三个属性-->
<!--number 将用户的输入自动转换为number类型-->
<!--lazy 用户输入时，不同步，change事件触发同步-->
<!--debounce 设置延时；用于高消耗操作，如input输入内容时要随时发送ajax-->
<script type="text/javascript">
    var vm = new Vue({
        el:'#ex1',
        data:{
            msg:'内容将强制为numer，nan将为原值'
        }
    })

    var vm2 = new Vue({
        el:'#ex2',
        data:{
            msg:'内容在change事件后才改变'
        }
    })

    var vm3 = new Vue({
        el:'#ex3',
        data:{
            msg:'内容将在5s后改变'
        }
    })
</script>
</html>
