body {
    background-color: #fff;
}
.clear-box {
    clear: both;
}
.home-case-banner-wrap {
    width: 100%;
    background-image: url("../img/data-store-bg.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/data-store/data-store-bg.png*/;
    background-position: center;
    background-repeat: repeat-x;
}
.home-case-banner-inner-wrap {
    width: 1100px;
    margin: auto;
    padding-left: 235px;
    min-height: 220px;
    box-sizing: border-box;
}
.home-case-banner-wrap h1 {
    font-size: 42px;
    color: #333;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 25px;
    line-height: 45px;
}
.home-case-banner-wrap p {
    font-size: 14px;
    color: #778ea4;
    text-align: left;
    line-height: 20px;
    letter-spacing: 1px;
}
.home-case-banner-wrap p span {
    color:#F56A00;
}
.home-case-banner-wrap img {
    display: block;
    float: right;
}
.home-case-wrap {
    display: block;
    min-height: 480px;
    width: 1100px;
    margin: auto;
    margin-top: 30px;
    position: relative;
    padding-bottom: 130px;
}
.home-case-nav-wrap {
    background-color: #fff;
    width: 214px;
    float: left;
    margin-top: -250px; 
    border: 1px solid #ddd;
    z-index: 1000;
}
.home-case-nav {
    display: block;
    background: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.home-case-nav-top {
    height: 80px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    position: relative;
}
.home-case-nav-top img {
    border-radius: 4px;
    width: 20px;
    height: 18px;
    box-sizing: border-box;
    margin: 31px 10px 0 17px;
    float: left;
}
.home-case-nav-top .nav-top-content {
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    line-height: 80px;
    text-align: left;
    display: block;
    height: 100%;
}

.home-case-nav-wrap .home-case-nav-item {
    background: #fff;
    height: 50px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}
.home-case-nav-wrap .home-case-nav-item.active,
.home-case-nav-wrap .home-case-nav-item:hover {
    background: #f9f9f9;
}
.home-case-nav-item .active-strip {
    background-color: #499aef;
    width: 0;
    height: 100%;
    box-sizing: border-box;
    float: left;
    display: block;
}
.home-case-nav-item.active .active-strip,
.home-case-nav-item:hover .active-strip {
    width: 3px;
    margin-right: -3px;
}
.home-case-nav-top  .home-case-nav-link,
.home-case-nav-item  .home-case-nav-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.home-case-nav-item .home-case-nav-item-content {
    /*font-family:PingFangSC-Regular;*/
    font-size:14px;
    color: #333333;
    letter-spacing: 0;
    line-height: 50px;
    text-align: left;
    display: block;
    height: 100%;
}
.home-case-nav-item.active .home-case-nav-item-content,
.home-case-nav-item:hover .home-case-nav-item-content {
    color: #499aef;
}
.home-case-nav-item .item-icon {
    border-radius: 4px;
    width: 20px;
    height:  18px;
    box-sizing: border-box;
    margin: 16px 15px 0 17px;
    float: left;
}
.home-case-nav-item .item-icon.active {
    display: none;
}
.home-case-nav-item.active  .item-icon,
.home-case-nav-item:hover  .item-icon {
    display: none;
}
.home-case-nav-item.active  .item-icon.active,
.home-case-nav-item:hover  .item-icon.active {
    display: block;
}
.home-case-nav-item .home-case-nav-sub-wrap-bg {
    display: none;
}

.home-case-nav-item.active .home-case-nav-sub-wrap-bg,
.home-case-nav-item:hover .home-case-nav-sub-wrap-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 200px;
    width: 500px;
    padding-left: 25px;
}
.home-case-nav-item .home-case-nav-sub-wrap {
    background: #f2f2f2;
    box-shadow: 0 1px 4px 0 #999;
    border-radius: 2px;
    width: 460px;
    min-height: 80px;
    padding: 11px 34px;
    box-sizing: border-box;
    font-size: 14px;
    color: #666;
    letter-spacing: .77px;
    line-height:40px;
    text-align: left;
    display: block;
    position: relative;;
}
.home-case-nav-sub-wrap .sub-nav-triangle {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    left: -10px;
}
.home-case-nav-item .home-case-nav-sub-wrap ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.home-case-nav-sub-wrap li {
    display: inline-block;
    font-size: 14px;
    color: #666;
    letter-spacing: .77px;
}
.home-case-nav-sub-wrap li a {
    margin-left: 6px;
    margin-right: 6px;
}

/*
right part (case list)
*/
.home-case-list-wrap {
    margin-left: 235px;
}
.home-case-list-wrap .home-case-banner-wrap img {
    display: block;
    width: 100%;
}

.home-case-list-panel {
    margin-top: 30px;
    height: 30px;
}
.home-case-search-wrap {
    float: left;
    width: 280px;
    height: 30px;
    box-sizing: border-box;
    position: relative;
}
.home-case-search-wrap .home-case-search-input {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    color: #333;
    line-height: 14px;
    text-align: left;
    padding-left: 8px;
}
.home-case-search-wrap .home-case-search-btn {
    background-color: #f2f2f2;
    display: block;
    width: 40px;
    height: 32px;
    background-image: url("../img/search-btn.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/case/search-btn.png*/;
    background-position: 15px 8px;
    background-repeat: no-repeat;
    position: absolute;
    right: -9px;
    top: 1px;
    cursor: pointer;
    border-left: 1px solid #ccc;
}
.home-case-list-wrap .case-btn-search {
    background: #f2f2f2;
    border: 1px solid #cccccc;
    border-radius: 3px;
    width: 88px;
    height: 28px;
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
}
.home-case-list-panel .button-wrap {
    float: right;
}
.home-case-list-wrap .case-btn-search.active {
    background: #499aef;
    border-radius: 3px;
    width: 90px;
    height: 30px;
    border: none;
    font-size: 14px;
    color: #fff;
    box-sizing: border-box;
}
.home-case-list {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}
.home-case-list .home-case-ul {
    display: block;
    list-style-type: none;
    margin-left: -20px;
}
.home-case-list .home-case-empty {
    padding-top: 30px;
    font-size: 16px;
}

.home-case-ul .home-case-item {
    border: 1px solid #ddd;
    width: 205px;
    height: 205px;
    box-sizing: border-box;
    padding: 0;
    background: #fff;
    margin-left: 16px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
    padding-top: 10px;
    display: block;
    /*display: none;*/
}
.home-case-url .home-case-item:hover {
    -webkit-box-shadow: 0 0 14px rgba(200,195,195,.75);
    box-shadow: 0 0 14px rgba(200,195,195,.75);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    -webkit-transform: translate3d(0,-5px,0);
    transform: translate3d(0,-5px,0);
}
.home-case-item .home-case-item-img-wrap {
    width: 100%;
    text-align: center;
}
.home-case-item .home-case-item-img-wrap img {
    display: inline-block;
    max-width: 100%;
    height: 80px;
}
.home-case-item .home-case-item-title {
    font-size: 18px;
    color: #333;
    letter-spacing: 1px;
    margin: 8px 5px 8px 5px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}
.home-case-item:hover .home-case-item-title {
     color: #2C76C0;
}

.home-case-item .home-case-item-description {
    background: #f9f9f9;
    border-top: 1px solid #ddd;
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    padding: 0 12px;
    padding-top: 15px;
    font-size: 14px;
    color: #999;
    letter-spacing: .77px;
    line-height: 18px;
    text-align: center;
    margin: 0;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.home-case-pagination-wrap {
    width: 100%;
    background-color: #fff;
    height: 140px;
    padding: 20px 0 120px 0;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
}
.home-case-pagination-wrap #pager {
    position: relative;
    float: right;
}



#pager a, #pager span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #f2f2f2;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    line-height: 30px;
    text-align: center;
    box-sizing: border-box;
}


#pager .current {
    color: #fff;
    border: none;
    background: #008cff;
    width: 32px;
    height: 32px;
    vertical-align: top;
}

#pager .prev {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#pager .next {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#pager .current.prev, #pager .current.next{
    color: #999;
    border: 1px solid #ccc;
    background: #f2f2f2;
}

@media (max-width: 1200px) {
    .home-case-wrap {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .home-case-nav-wrap {
        display: none;
    }
    .home-case-list-wrap {
        margin-left: 0;
    }
    .home-case-banner-wrap {
        max-height: 450px;
        overflow: hidden;
        margin: auto;
    }
    .home-case-ul .home-case-item {
        margin-left: 40px;
    }
}
@media (max-width: 980px) {
    .home-case-list .home-case-ul {
        margin-left: 0;
    }

}
@media (max-width: 880px) {

}
@media (max-width: 800px) {

}
@media (max-width: 720px) {
    .home-case-list-panel {
        height: auto;
    }
    .home-case-search-wrap {
        float: none;
        margin-bottom: 20px;
    }
    .home-case-list-panel .button-wrap {
        float: none;
    }
    .home-case-list-wrap .case-btn-search {
        margin-left: 0;
        margin-right: 10px;
    }
}
@media (max-width: 600px) {
    .home-case-ul .home-case-item {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 480px) {
    .home-case-pagination-wrap {
        height: 50px;
    }

}
@media (max-width: 420px) {
    .home-case-ul .home-case-item {
        width: 300px;
    }
    .home-case-item .home-case-item-description {
        padding: 10px 15px 0 15px;
    }
    .home-case-item .home-case-item-title {
        margin-left: 10px;
        margin-right: 10px;
    }

}
@media (max-width: 360px) {
    .home-case-ul .home-case-item {
        width: 250px;
    }
    .home-case-item .home-case-item-description {
        padding: 0 11px;
    }
    .home-case-item .home-case-item-title {
        margin-left: 5px;
        margin-right: 5px;
    }
}