.crawl-banner-wrap {
    background-image: url("../img/crawl-banner.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/crawl-banner.png*/;
    min-height: 220px;
    background-size: cover;
}
.crawl-banner {
    max-width: 1100px;
    margin: auto;
}
.crawl-banner .banner-title {
    font-size: 42px;
    color: #333;
    letter-spacing: 0;
    line-height: 42px;
    padding-top: 45px;
    font-weight: 500;
}
.crawl-banner .banner-description {
    font-size: 14px;
    color: #666;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: 25px;
}
.section-crawl {
    width: 1100px;
    margin: auto;
}
.crawl-wrap {
    position: relative;
    padding-bottom: 5px;
}
.crawl-wrap .crawl-list {
    list-style: none;
    margin: 0
}
.crawl-wrap .crawl-list-item {
    display: inline-block;
    margin: 0 50px;
    width: 171px;
    text-align: center;
    height: 200px;
    vertical-align: top;
}

.crawl-item-img-wrap {
    width: 100%;
    text-align: center;
    height: 80px;
    margin-bottom: 20px;
}
.crawl-item-img-wrap img {
    vertical-align: middle;
}
.crawl-wrap label {
    display: block;
    color: #666;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
}


.section-crawl-eg {
    width: 1100px;
    margin: auto;
}
.crawl-eg-wrap {
    display: block;
    width: 100%;
    position: relative;
}
.crawl-eg-item {
    padding: 50px 0;
    border-top: 1px dashed #dae0e6;
    height: 520px;
    box-sizing: border-box;
}
.crawl-eg-item .left-part {
    float: left;
    display: block;
    height: 400px;
    text-align: left;
}
.crawl-eg-item .right-part {
    float: right;
    display: block;
    height: 400px;
    text-align: right;
}
.crawl-eg-item .crawl-eg-text {
    padding: 0 0 0 14px;
    width: 390px;
    height: 420px;
    box-sizing: border-box;
    padding-top: 120px;
}
.crawl-eg-item .crawl-eg-image {
    width: 650px;
    height: 420px;
}
.crawl-eg-item .crawl-eg-image img {
    width: 100%;
}
.crawl-eg-item .crawl-eg-title {
    color: #333;
    font-size: 24px;
    line-height: 25px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    border-left: 4px solid;
    border-color: #1F87ED;
    padding-left: 10px;
}
.crawl-eg-item .left-part .crawl-eg-title {
    text-align: left;
}
.crawl-eg-item .right-part .crawl-eg-title {
    text-align: left;
}
.crawl-eg-item label {
    margin-top: 40px;
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #999;
    text-align: justify;
}

.section-crawl .crawl-banner-icon {
    background-size: cover;
}

.section-crawl .terminal-icon {
    background-image: url("../img/terminal_icon.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/icon/terminal_icon.png*/;
}

.section-crawl .data-icon {
    background-image: url("../img/data_icon.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/icon/data_icon.png*/;
}

.section-crawl .place-icon {
    background-image: url("../img/place_icon.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/icon/place_icon.png*/;
}

.section-crawl .alarm-icon {
    background-image: url("../img/alarm_icon.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/icon/alarm_icon.png*/;
}

.section-crawl-eg .crawl-eg-icon {
    background-size: cover;
    width: 650px;
    height: 428px;
    background-repeat: no-repeat;
}

.section-crawl-eg .crawl-web {
    background-image: url("../img/web.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/crawl/web.png*/;
}

.section-crawl-eg .crawl-data {
    background-image: url("../img/data.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/crawl/data.png*/;
}

.section-crawl-eg .theme-web {
    background-image: url("../img/theme.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/crawl/theme.png*/;
}

@media only screen and (min-device-pixel-ratio: 2) {
    .section-crawl .terminal-icon {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/icon/terminal_icon_2.png*/;
    }

    .section-crawl .data-icon {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/icon/data_icon_2.png*/;
    }

    .section-crawl .place-icon {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/icon/place_icon_2.png*/;
    }

    .section-crawl .alarm-icon {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/icon/alarm_icon_2.png*/;
    }
}

@media (max-width: 1100px) {
    .crawl-eg-item .crawl-eg-image {
        width: 500px;
        margin-top: 50px;
    }
    .crawl-eg-item {
        padding: 50px 0;
    }
    .crawl-eg-item .left-part {
        margin-right: 20px;
    }
}
@media (max-width: 980px) {
    .section-crawl {
        width: auto;
    }
    .section-crawl-eg {
        width: auto;
    }
    .crawl-eg-item .crawl-eg-image {
        width: 400px;
        margin-top: 60px;
    }
}
@media (max-width: 860px) {

}
@media (max-width: 800px) {
    .crawl-wrap {
        padding-bottom: 0;
    }
    /*.crawl-eg-item .right-part {*/
    /*float: right;*/
    /*}*/
    /*.crawl-eg-item .right-part {*/
    /*text-align: right;*/
    /*}*/
    .crawl-eg-item .crawl-eg-image {
        display: none;
    }
    .crawl-eg-item .right-part {
        float: none;
    }
    .crawl-eg-item .crawl-eg-text {
        display: block;
        margin: auto;
        width: 80%;
        float: none;
        text-align: center;
    }
    .crawl-eg-item .left-part .crawl-eg-title,
    .crawl-eg-item .right-part .crawl-eg-title {
        text-align: center;
    }
    .crawl-eg-item .crawl-eg-text {
        padding-top: 0;
        height: auto;
    }
    .crawl-eg-item {
        height: auto;
    }
    .crawl-wrap {
        text-align: center;
    }
}
@media (max-width: 720px) {

}
@media (max-width: 600px) {

    .crawl-wrap .crawl-list-item {
        margin: 0 20px;
    }

}
@media (max-width: 480px) {
    .crawl-wrap .crawl-list-item {
        margin: 0;
        width: 170px;
    }
    .crawl-eg-item .crawl-eg-title {
        font-size: 24px;
    }
}
@media (max-width: 420px) {
    .crawl-wrap .crawl-list-item {
        display: block;
        margin: auto;
        width: 175px;
    }
    .header-text-block .main-title {
        font-size: 24px;
    }
}