<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单控件绑定-checkbox多个复选框</title>
</head>
<script src='http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js'></script>
<!--<script src="../vue2.6.js"></script>-->
<body id="ex">
<input type="checkbox" id="flash" value="快车" v-model="bizLines">
<label for="flash">快车</label>

<input type="checkbox" id="premium" value="专车" v-model="bizLines">
<label for="premium">专车</label>

<input type="checkbox" id="bus" value="巴士" v-model="bizLines">
<label for="bus">巴士</label>

<br/>
<span>checked lines：{{bizLines | json}}</span>
</body>
<script type="text/javascript">
var vm = new Vue({
    el:'#ex',
    data:{
        bizLines:[]
    }
})
</script>
</html>