<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>值绑定checkbox</title>
</head>
<script src='http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js'></script>
<!--<script src="../vue2.6.js"></script>-->
<body>
<div id="ex1">
    <input type="checkbox" id="flash" :value="flash" v-model="bizLines">
    <label for="flash">{{flash.name}}</label>
    <input type="checkbox" id="premium" :value="premium" v-model="bizLines">
    <label for="premium">{{premium.name}}</label>
    <input type="checkbox" id="bus" :value="bus" v-model="bizLines">
    <label for="bus">{{bus.name}}</label>
    <span>checked BizLines：{{bizLines | json}}</span>
</div>

<!--单个checkbox绑定-->
<div id="ex2">
    <input type="checkbox" v-model="toggle" :true-value="a" :false-value="b">
    <span>toggle:{{toggle}}</span>
</div>

</body>

<!--多个checkbox须使用:value进行值绑定-->
<script type="text/javascript">
var vm = new Vue({
    el:'#ex1',
    data:{
        flash:{name:'快车'},
        premium:{name:'专车'},
        bus:{name:'巴士'},
        bizLines:[]
    }
})

// 单个选项框
var vm2 = new Vue({
    el:'#ex2',
    data:{
        toggle:[]
    }
})
</script>
</html>