<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>指令修饰符</title>
</head>
<!--<script src='http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js'></script>-->
<script src="../vue2.6.js"></script>
<bod id="ex">

<input v-model="msg" lazy /> <br/>
<p>{{msg}}</p>

<input v-model="deb" debounce="5000" /> <br/>
<p>{{deb}}</p>

<input v-model="age" number /> <br/>
<p>{{age}}</p>
</bod>
<script type="text/javascript">
var vm = new Vue({
    el:'#ex',
    data:{
        msg:'Hello msg!',
        deb:'Hello deb!',
        age:'Hello age!'
    }
})
</script>
</html>