* {
    font-family: -apple-system,BlinkMacSystemFont, "SF Pro SC", "SF Pro Text", "Helvetica Neue",
    Helvetica, "PingFang SC", "Segoe UI", Roboto, "Hiragino Sans GB", "arial", "microsoft yahei ui",
    "Microsoft YaHei", SimSun, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {

    margin: 0;
    overflow-x: hidden;
    font-family: "microsoft Yahei", "微软雅黑", "tahoma", "arial", "helvetica";
}

.zui-header {
    position: relative;
    /*height: .88rem;*/
    height: 1rem;
    background: #000;
    width: 100%;
    font-size: 14px;
    color: #fff;
}

.zui-header-logo-img {
    margin-top: .16rem;
    margin-left: .24rem;
    float: left;
}

.zui-header-op {
    position: absolute;
    top: .1rem;
    right: 0;
}

.zui-header-op a {
    color: #fff;
    line-height: .88rem;
    margin-right: .76rem;
}

.zui-header-op .login-username {
    margin-right: .1rem;
}

.footer-section {
    border-bottom: 1px solid #666;
    padding: .48rem .64rem;
    background: #3E3D3D;
}

.footer-section span,
.footer-section p,
.footer-section a {
    color: #fff;
}

.footer-section .footer-title {
    font-size: 18px;
    line-height: .48rem;
}

.footer-section .footer-text {
    font-size: 14px;
    line-height: .48rem;
}

.footer-section span {
    margin-right: .4rem;
}

.zui-header-menu {
    height: 50px;
    background: #000;
    width: 100%;
    display: block;
    position: relative;
    top: 0;
    left: 0;
}

.zui-header-menu-item {
    float: left;
    padding: 12px 2%;
    border-bottom: 2px solid #000;
}

.zui-header-menu-item-EN {
    float: left;
    padding: 12px 1.8%;
}

.zui-header-menu-item a{
    color: #666;
    font-size: 14px;
    line-height: 22px;
}

.zui-header-inner-nav {
    position: absolute;
    top: 50px;
    left: 0;
    background: #333;
    white-space: nowrap;
    display: none;
    z-index: 9;
    width: 100%;
}

.zui-header-inner-menu-item {
    /*padding: .2rem .2rem;*/
    border-bottom: .03rem solid #3E3E3E;
    overflow: hidden;
}

.zui-header-inner-menu-item h3{
    padding: .28rem .4rem;
    font-size: 16px;
    line-height: 21px;
    color: #999;
}

.zui-header-inner-menu-item a {
    display: block;
    padding: .28rem .4rem;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    overflow: hidden;
}

.zui-header-nest-solution-nav li {
    border-top: .01rem solid #3E3E3E;
}

.zui-header-menu-item-checked {
    border-bottom: 2px solid #108CEF;
}

.zui-header-menu-item-checked .nav-link {
    color: #108CEF;
}

.nav-text {
    float: left;
}

.nav-tab {
    float: right;
    width: .24rem;
    height: .36rem;
    display: inline-block;
    background-image: url(../../../../img/zhongbao/new/mobile/ico-link-xiala.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.toggle-language {
    color: #fff;
    font-size: .32rem;
    line-height: .42rem;
    position: absolute;
    right: .2rem;
    top: .23rem;
}

#js_pass_login_btn {
    line-height: .88rem;
    margin-right: 1rem;
}

.zui-header-op{
    display: none;
}







