.collection-banner,
.mark-banner-wrap {
    height: 3.4rem;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    padding: .66rem .44rem 0 .44rem;
    font-family: MicrosoftYaHei;
    color: #333;
}
.collection-banner {
    background-image: url(../img/collect-banner.png);
}

.mark-banner-wrap {
    background-image: url(../img/mark-banner.png);
}

.crawl-banner-wrap {
    background-image: url(../img/crawl-banner.png);
}

.banner-title {
    font-size: 24px;
    line-height: 31px;
}

.banner-des {
    font-size: 12px;
    line-height: 19px;
    margin-top: .1rem;
}

.collect-des-row {
    overflow: hidden;
    border-bottom: .02rem solid #E8E8E8;
}

.collect-des-item {
    width: 50%;
    box-sizing: border-box;
    padding: .46rem .28rem .4rem .28rem;
    float: left;
}

.collect-des-item:first-child {
    border-right: .02rem solid #E8E8E8;
}

.collect-des-icon {
    width: .7rem;
    height: .7rem;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.des-icon1 {
    background-image: url(../img/des-icon1.png);
}

.des-icon2 {
    background-image: url(../img/des-icon2.png);
}

.des-icon3 {
    background-image: url(../img/des-icon3.png);
}

.des-icon4 {
    background-image: url(../img/des-icon4.png);
}

.collect-content {
    float: left;
    width: 70%;
    font-family: PingFangSC-Light;
    color: #333;
    margin-left: .18rem;
}

.collect-des-title {
    font-size: 15px;
    line-height: 22px;
}

.collect-des-text {
    font-size: 12px;
    line-height: 17px;
}

.service-title {
    height: 1.46rem;
    width: 100%;
    font-size: 18px;
    line-height: 1.46rem;
    text-align: center;
    color: #333;
}

.service-item {
    width: 95%;
    background: #F4F4F4;
    -webkit-border-radius: .1rem;
       -moz-border-radius: .1rem;
            border-radius: .1rem;
    box-sizing: border-box;
    padding: .48rem .4rem .52rem .4rem;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: .12rem;
}

.collect-service-icon {
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}

.service-icon1 {
    width: .82rem;
    height: .9rem;
    background-image: url(../img/service-icon1.png);
}

.service-icon2 {
    width: .88rem;
    height: .9rem;
    background-image: url(../img/service-icon2.png);
}

.service-icon3 {
    width: .72rem;
    height: 1.02rem;
    background-image: url(../img/service-icon3.png);
}

.service-icon4 {
    width: .88rem;
    height: .96rem;
    background-image: url(../img/service-icon4.png);
}

.collect-service-content {
    float: left;
    width: 60%;
    font-family: PingFangSC-Light;
    color: #333;
    margin-left: .3rem;
}

.service-item-title {
    font-size: 16px;
    line-height: 22px;
}

.service-item-des {
    font-size: 12px;
    line-height: 20px;
}

.service-item-btn {
    width: 1.16rem;
    height: 1.16rem;
    background-image: url(../img/btn-dingzhi.png);
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}

.service-item-btn-EN {
    width: 1.16rem;
    height: 1.16rem;
    background-image: url(../img/btn-dingzhi-EN.png);
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}

.mark-icon1 {
    background-image: url(../img/mark-icon1.png);
}

.mark-icon2 {
    background-image: url(../img/mark-icon2.png);
}

.mark-icon3 {
    background-image: url(../img/mark-icon3.png);
}

.mark-icon4 {
    background-image: url(../img/mark-icon4.png);
}

.markcrawl-icon {
    width: .88rem;
    height: .9rem;
}
.mark-service-icon1 {
    background-image: url(../img/mark-service-icon1.png);
}

.mark-service-icon2 {
    background-image: url(../img/mark-service-icon2.png);
}

.mark-service-icon3 {
    background-image: url(../img/mark-service-icon3.png);
}

.crawl-icon1 {
    background-image: url(../img/crawl-icon1.png);
}

.crawl-icon2 {
    background-image: url(../img/crawl-icon2.png);
}

.crawl-icon3 {
    background-image: url(../img/crawl-icon3.png);
}

.crawl-icon4 {
    background-image: url(../img/crawl-icon4.png);
}

.crawl-service-icon1 {
    background-image: url(../img/crawl-service-icon1.png);
}

.crawl-service-icon2 {
    background-image: url(../img/crawl-service-icon2.png);
}

.crawl-service-icon3 {
    background-image: url(../img/crawl-service-icon3.png);
}

.service-type-wrap {
    margin-bottom: .8rem;
}







