.collection-banner-wrap {
    background-image: url("../img/collect-banner.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/collect-banner.png*/;
    min-height: 220px;
    background-size: cover;
}
.collection-banner {
    max-width: 1100px;
    margin: auto;
}
.collection-banner .banner-title {
    font-size: 42px;
    color: #333;
    letter-spacing: 0;
    line-height: 42px;
    padding-top: 45px;
    font-weight: 500;
}
.collection-banner .banner-description {
    font-size: 14px;
    color: #666;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: 25px;
}

.section-collect {
    width: 1100px;
    margin: auto;
}
.collect-wrap {
    position: relative;
    padding-bottom: 10px;
}
.collect-wrap .collect-list {
    list-style: none;
    margin: 0
}
.collect-wrap .collect-list-item {
    display: inline-block;
    margin: 0 50px;
    width: 171px;
    text-align: center;
    vertical-align: top;
}

.collect-item-img-wrap {
    width: 100%;
    text-align: center;
    height: 80px;
    margin-bottom: 20px;
}
.collect-item-img-wrap img {
    vertical-align: middle;
}
.collect-wrap label {
    display: block;
    color: #666;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
}


.section-collect-eg {
    width: 1100px;
    margin: auto;
}
.collect-eg-wrap {
    display: block;
    width: 100%;
    position: relative;
}
.collect-eg-item {
    padding: 50px 0;
    border-top: 1px dashed #dae0e6;
    height: 520px;
    box-sizing: border-box;
}
.collect-eg-item .left-part {
    float: left;
    display: block;
    height: 4020px;
    text-align: left;
}
.collect-eg-item .right-part {
    float: right;
    display: block;
    height: 420px;
    text-align: right;
}
.collect-eg-item .collect-eg-text {
    padding: 0 0 0 14px;
    width: 390px;
    height: 420px;
    box-sizing: border-box;
    padding-top: 120px;
}
.collect-eg-item .collect-eg-image {
    width: 650px;
    max-height: 420px;
    margin-top: -5px;
}
.collect-eg-item .collect-eg-image img {
    width: 100%;
}
.collect-eg-item .collect-eg-title {
    color: #333;
    font-size: 24px;
    line-height: 25px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    border-left: 4px solid;
    border-color: #1F87ED;
    padding-left: 10px;
}
.collect-eg-item .left-part .collect-eg-title {
    text-align: left;
}
.collect-eg-item .right-part .collect-eg-title {
    text-align: left;
}
.collect-eg-item label {
    margin-top: 40px;
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #999;
    text-align: justify;
}

.section-collect .icon {
    width: 70px;
    height: 76px;
    margin-left: 52px;
}

.section-collect .people-icon,
.section-collect .category-icon,
.section-collect .position-icon,
.section-collect .quality-icon {
    background-size: contain;
}

.section-collect .people-icon {
    background-image: url("../img/people_icon.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/icon/people_icon.png*/;
    background-repeat: no-repeat;
}

.section-collect .category-icon {
    background-image: url("../img/category_icon.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/icon/category_icon.png*/;
    background-repeat: no-repeat;
}

.section-collect .position-icon {
    background-image: url("../img/position_icon.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/icon/position_icon.png*/;
    background-repeat: no-repeat;
}

.section-collect .quality-icon {
    background-image: url("../img/quality_icon.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/icon/quality_icon.png*/;
    background-repeat: no-repeat;
}

.section-collect-eg .collection-img {
    width: 650px;
    height: 428px;
}

.section-collect-eg .text-collect,
.section-collect-eg .image-collect,
.section-collect-eg .video-collect,
.section-collect-eg .O2O-collect,
.custom-type-content-block .text-mark,
.custom-type-content-block .picture-filter,
.custom-type-content-block .audio-pick,
.custom-type-content-block .crawl-html,
.custom-type-content-block .o2o-pick {
    background-size: contain;
}

.section-collect-eg .text-collect {
    background-image: url("../img/text_collect.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/collect/text_collect.png*/;
}

.section-collect-eg .image-collect {
    background-image: url("../img/image_collect.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/collect/image_collect.png*/;
}

.section-collect-eg .video-collect {
    background-image: url("../img/video_collect.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/collect/video_collect.png*/;
}

.section-collect-eg .O2O-collect {
    background-image: url("../img/O2O_collect.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/collect/O2O_collect.png*/;
}

.custom-type-content-block .text-mark {
    background-image: url("../img/text_mark.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/text_mark.png*/;
}

.custom-type-content-block .picture-filter {
    background-image: url("../img/picture_filter.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/picture_filter.png*/;
}

.custom-type-content-block .audio-pick {
    background-image: url("../img/audio_pick.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/audio_pick.png*/;
}

.custom-type-content-block .crawl-html {
    background-image: url("../img/crawl_html_icon.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/crawl_html_icon.png*/;
}

.custom-type-content-block .o2o-pick {
    background-image: url("../img/o2o_pick.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/o2o_pick.png*/;
}


@media only screen and (min-device-pixel-ratio: 2) {
    .collection-banner-wrap {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/collect-banner_2.png*/;
        min-height: 220px;
        background-size: cover;
    }

    .section-collect .people-icon {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/icon/people_icon_2.png*/;
    }

    .section-collect .category-icon {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/icon/category_icon_2.png*/;
    }

    .section-collect .position-icon {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/icon/position_icon_2.png*/;
    }

    .section-collect .quality-icon {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/icon/quality_icon_2.png*/;
    }

    .section-collect-eg .text-collect {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/collect/text_collect_2.png*/;
    }

    .section-collect-eg .image-collect {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/collect/image_collect_2.png*/;
    }

    .section-collect-eg .video-collect {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/collect/video_collect_2.png*/;
    }

    .section-collect-eg .O2O-collect {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/collect/O2O_collect_2.png*/;
    }

    .custom-type-content-block .text-mark {
        background-image: url("../img/text_mark_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/text_mark_2.png*/;
    }

    .custom-type-content-block .picture-filter {
        background-image: url("../img/picture_filter_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/picture_filter_2.png*/;
    }

    .custom-type-content-block .audio-pick {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/audio_pick_2.png*/;
    }

    .custom-type-content-block .crawl-html {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/crawl_html_icon_2.png*/;
    }

    .custom-type-content-block .o2o-pick {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/o2o_pick_2.png*/;
    }
}

@media (max-width: 1100px) {
    .collect-eg-item .collect-eg-image {
        width: 500px;
        margin-top: 50px;
    }
    .collect-eg-item {
        padding: 50px 0;
    }
    .collect-eg-item .left-part {
        margin-right: 20px;
    }
}
@media (max-width: 980px) {
    .section-collect {
        width: auto;
    }
    .section-collect-eg {
        width: auto;
    }
    .collect-eg-item .collect-eg-image {
        width: 400px;
        margin-top: 60px;
    }
}
@media (max-width: 860px) {

}
@media (max-width: 800px) {
    .collect-wrap {
        padding-bottom: 0;
    }
    /*.collect-eg-item .right-part {*/
        /*float: right;*/
    /*}*/
    /*.collect-eg-item .right-part {*/
        /*text-align: right;*/
    /*}*/
    .collect-eg-item .collect-eg-image {
        display: none;
    }
    .collect-eg-item .right-part {
        float: none;
    }
    .collect-eg-item .collect-eg-text {
        display: block;
        margin: auto;
        width: 80%;
        float: none;
        text-align: center;
    }
    .collect-eg-item .left-part .collect-eg-title,
    .collect-eg-item .right-part .collect-eg-title {
        text-align: center;
    }
    .collect-eg-item .collect-eg-text {
        padding-top: 0;
        height: auto;
    }
    .collect-eg-item {
        height: auto;
    }
}

@media (max-width: 720px) {

}
@media (max-width: 600px) {

    .collect-wrap .collect-list-item {
        margin: 0 20px;
    }

}
@media (max-width: 480px) {
    .collect-wrap .collect-list-item {
        margin: 0;
        width: 170px;
    }
    .collect-eg-item .collect-eg-title {
        font-size: 24px;
    }
}
@media (max-width: 420px) {
    .collect-wrap .collect-list-item {
        display: block;
        margin: auto;
        width: 175px;
    }
    .header-text-block .main-title {
        font-size: 24px;
    }
}