.zui-section.section-banner {
    height: 400px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#3999FA,endColorStr=#53A7FD); /*IE 6 7 8*/
    background: url("../img/banner_bg-1.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/newly/banner_bg.png*/ center no-repeat, -ms-linear-gradient(top, #3999FA, #53A7FD);        /* IE 10 */
    background: url("../img/banner_bg-1.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/newly/banner_bg.png*/ center no-repeat, -moz-linear-gradient(top,#3999FA,#53A7FD);/*ç«ç‹*/
    background: url("../img/banner_bg-1.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/newly/banner_bg.png*/ center no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%,from(#3999FA), to(#53A7FD));/*è°·æ­Œ*/
    background: url("../img/banner_bg-1.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/newly/banner_bg.png*/ center no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3999FA), to(#53A7FD));      /* Safari 4-5, Chrome 1-9*/
    background: url("../img/banner_bg-1.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/newly/banner_bg.png*/ center no-repeat, -webkit-linear-gradient(top, #3999FA, #53A7FD);   /*Safari5.1 Chrome 10+*/
    background: url("../img/banner_bg-1.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/newly/banner_bg.png*/ center no-repeat, -o-linear-gradient(top, #3999FA, #53A7FD);  /*Opera 11.10+*/
}

.banner-line{
    width: 960px;
    height: 3px;
    background-color: #a2a2a8;
    margin: auto;
    position:relative;
}

.banner-line .circular{
    width: 10px;
    height: 10px;
    border-radius: 5px;/* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari 和 Chrome */
    background-color: #52a7fd;
    display: inline-block;
    position:absolute;
    left: 0;
    margin-top: -3px;
}

.banner-line .circular:nth-child(2) {
    left: 320px;
}
.banner-line .circular:nth-child(3) {
    left: 640px;
}
.banner-line .circular:nth-child(4) {
    left: 960px;
}

.banner-step {
    width: 1100px;
    margin:auto;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 90px;
    min-width: 400px;
    position:relative;

}
.banner-item {
    display: inline-block;
    margin-top: 30px;
    margin-right:120px;
}

.banner-step .banner-item:last-child {
    margin-right: 0;
}

.custom-section.section-type,
.custom-section.section-demand
{
    width: 1100px;
    margin: auto;
    padding-top: 10px;
}

.custom-section.section-demand {
    padding-bottom: 80px;
}
.custom-section.section-type .custom-type-tab {
    border-bottom: 1px solid #ddd;
}

.custom-type, .custom-demand {
    display: inline-block;
    line-height: 24px;
    font-size: 24px;
    color: #333;
    width: 345px;
    position: relative;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 13px 0;
}

.custom-sub-type {
    display: inline-block;
    height: 40px;
    border-bottom:2px transparent;
    text-align: center;
    margin-right: 60px;
    vertical-align: middle;
    font-size: 14px;
    color: #333;
    padding: 10px 10px 10px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: -1px;
}

.custom-sub-type.active {
    border-bottom: 2px solid #52a7fd;
}

.custom-sub-type-content.hide,.custom-sub-type.hide {
    display: none;
}

.custom-sub-type:hover {
    border-bottom: 2px solid #2989EA;
    color: #333;
    cursor: pointer;
}

.custom-type-content-block {
    width: 1100px;
    height: auto;
    margin:auto;
    position: relative;
    padding-top: 40px;
    vertical-align: top;
    display: inline-block;
}
.custom-demand-content-block {
    width: 755px;
    position: relative;
    vertical-align: top;
    margin-bottom: 40px;
    margin-top: 25px;
}
.custom-sub-type-content {
    position: relative;
    vertical-align: top;
    margin-bottom: 40px;
    border-bottom: 1px dashed #dddddd;
}
.custom-demand-content-block p{
    display:inline-block;
    min-width:110px;
    text-align:right;
    margin-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bui-popup-customer-row .error{
    color:red;
}
.bui-popup-customer-row .error.message{
    margin-left:15px;
}

.bui-popup-customer-row .error.hide{
    display:none;
}

.bui-popup-customer-row .error.message.code.hide{
    display: none;
}

.bui-popup-customer-row input {
    width: 280px;
    border-radius:0px;
    height: 30px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bui-popup-customer-row.personal-code input {
    width:170px;
}

.bui-popup-customer-row {
    min-height:30px;
    margin-bottom:30px;
    font-size:13px;
}

.send-code{
    display:inline-block;
    width:150px;
    height:30px;
    border:1px solid;
    text-align:center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:#52a7fd;
    cursor: pointer;
    margin-left: -5px;
    vertical-align: middle;
    line-height: 30px;
}


.send-code.invalid {
    color:grey;
    cursor: default;
}

.submit-demand{
    display:inline-block;
    margin-left:110px;
    width:130px;
    height:40px;
    background-color:#52a7fd;
    color:#fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align:center;
    font-size:16px;
    border-radius: 4px;
    cursor: pointer;
    line-height: 40px;
}
.submit-demand.invalid {
    background-color: grey;
    cursor: default;
}
.error.message.submit{
    color:red;
    margin-left:15px;
    display:inline-block;
    font-size: 13px;
}
.error.message.submit.hide{
    display:none;
}

.custom-sub-type-content label {
    font-size: 18px;
    color: #333;
    line-height: 40px;
}

.custom-type-content-text {
    /*margin-left: 345px;*/
    font-size: 14px;
    color: #999;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 40px;
    display: block;
    padding-left: 130px;
    min-height: 80px;
}
.custom-type-content-text label a {
    float: right;
}
.custom-sub-type-img {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding:0;
    margin-top: 0;
    float: left;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
.custom-sub-type-content img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #efefef;
    margin-top: 10px;
}

.contact-content {
    padding: 40px 0 100px;
    border-bottom: 1px dashed #ccc;
    font-size: 18px;
    color: #333;
    line-height: 30px;
}

.contact-content.bottom {
    font-size: 16px;
    border-bottom: 0;
}

.contact-content .item {
    display: inline-block;
    height: 40px;
    padding-left: 50px;
    margin-right: 240px;
}

.contact-content .item.email {
    background: url("../img/contact_icons.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/newly/contact_icons.png*/ -4px -4px no-repeat
}

.contact-content .item.qq {
    background: url("../img/contact_icons.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/newly/contact_icons.png*/ -4px -52px no-repeat
}

.contact-content .item.yeying {
    margin-right: 0;
    background: url("../img/contact_icons.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/newly/contact_icons.png*/ -4px -100px no-repeat
}

.custom-section .html-icon,
.custom-section .yuqing-icon,
.custom-section .knowledge-icon,
.custom-section .text-icon,
.custom-section .img-icon,
.custom-section .app-img,
.custom-section .taobao-img,
.custom-section .plant-img {
    background-size: contain;
}

.custom-section .html-icon {
    background-image: url("../img/crawl_html_icon-1.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/custom/crawl_html_icon.png*/;
}

.custom-section .yuqing-icon {
    background-image: url("../img/crawl_yuqing_icon.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/custom/crawl_yuqing_icon.png*/;
}

.custom-section .knowledge-icon {
    background-image: url("../img/crawl_knowledge_icon.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/custom/crawl_knowledge_icon.png*/;
}

.custom-section .text-icon {
    background-image: url("../img/crawl_text_icon.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/custom/crawl_text_icon.png*/;
}

.custom-section .img-icon {
    background-image: url("../img/crawl_img_icon.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/custom/crawl_img_icon.png*/;
}

.custom-section .app-img {
    background-image: url("../img/app.jpg")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/custom/app.jpg*/;
}

.custom-section .taobao-img {
    background-image: url("../img/taobao.jpg")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/custom/taobao.jpg*/;
}

.custom-section .plant-img {
    background-image: url("../img/plant.jpg")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/custom/plant.jpg*/;
}

.custom-img {
    background-size: cover;
}

.custom-section .mark-detail-img {
    background-size: contain;
    background-repeat: no-repeat;
}

.custom-section .text-mark {
    background-image: url("../img/text_mark.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/text_mark.png*/;
}

.custom-section .text-extract {
    background-image: url("../img/text_extract.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/text_extract.png*/;
}

.custom-section .text-verify {
    background-image: url("../img/text_verify.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/text_verify.png*/;
}

.custom-section .picture-filter {
    background-image: url("../img/picture_filter.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/picture_filter.png*/;
}

.custom-section .picture-extract {
    background-image: url("../img/picture_extract.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/picture_extract.png*/;
}

.custom-section .audio-clear {
    background-image: url("../img/audio_clear.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/audio_clear.png*/;
}

.custom-section .audio-text {
    background-image: url("../img/audio_text.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/audio_text.png*/;
}

.custom-section .page-contrast {
    background-image: url("../img/page_contrast.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/page_contrast.png*/;
}

.custom-section .page-clear {
    background-image: url("../img/page_clear.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/page_clear.png*/;
}

.custom-section .o2o-shop {
    background-image: url("../img/o2o_shop.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/o2o_shop.png*/;
}

.custom-section .text-mark-img-CH {
    background-image: url("../img/text-mark.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/mark/text-mark.png*/;
}

.custom-section .text-extract-img-CH {
    background-image: url("../img/text-extract.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/mark/text-extract.png*/;
}

.custom-section .text-verify-img-CH {
    background-image: url("../img/text-verify.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/mark/text-verify.png*/;
}

.custom-section .picture-filter-img-CH {
    background-image: url("../img/picture-filter.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/mark/picture-filter.png*/;
}

.custom-section .picture-extract-img-CH {
    background-image: url("../img/picture-extract.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/mark/picture-extract.png*/;
}

.custom-section .audio-clear-img-CH {
    background-image: url("../img/audio-clear.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/mark/audio-clear.png*/;
}

.custom-section .audio-text-img-CH {
    background-image: url("../img/audio-text.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/mark/audio-text.png*/;
}

.custom-section .page-contrast-img-CH {
    background-image: url("../img/page-contrast.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/mark/page-contrast.png*/;
}

.custom-section .page-clear-img-CH {
    background-image: url("../img/page-clear.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/mark/page-clear.png*/;
}

.custom-section .o2o-shop-img-CH {
    background-image: url("../img/o2o-shop.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/mark/o2o-shop.png*/;
}

.custom-section .text-mark-img-EN {
    background-image: url("../img/text-mark-EN.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/mark/text-mark-EN.png*/;
}

.custom-section .text-extract-img-EN {
    background-image: url("../img/text-extract-EN.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/mark/text-extract-EN.png*/;
}

.custom-section .text-verify-img-EN {
    background-image: url("../img/text-verify-EN.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/mark/text-verify-EN.png*/;
}

.custom-section .picture-filter-img-EN {
    background-image: url("../img/picture-filter-EN.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/mark/picture-filter-EN.png*/;
}

.custom-section .picture-extract-img-EN {
    background-image: url("../img/picture-extract-EN.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/mark/picture-extract-EN.png*/;
}

.custom-section .audio-clear-img-EN {
    background-image: url("../img/audio-clear-EN.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/mark/audio-clear-EN.png*/;
}

.custom-section .audio-text-img-EN {
    background-image: url("../img/audio-text.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/mark/audio-text.png*/;
}

.custom-section .page-contrast-img-EN {
    background-image: url("../img/page-contrast-EN.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/mark/page-contrast-EN.png*/;
}

.custom-section .page-clear-img-EN {
    background-image: url("../img/page-clear-EN.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/mark/page-clear-EN.png*/;
}

.custom-section .o2o-shop-img-EN {
    background-image: url("../img/o2o-shop.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/mark/o2o-shop.png*/;
}




@media only screen and (min-device-pixel-ratio: 2) {
    .custom-section .html-icon {
        background-image: url("../img/crawl_html_icon_2-1.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/custom/crawl_html_icon_2.png*/;
    }

    .custom-section .yuqing-icon {
        background-image: url("../img/crawl_yuqing_icon_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/custom/crawl_yuqing_icon_2.png*/;
    }

    .custom-section .knowledge-icon {
        background-image: url("../img/crawl_knowledge_icon_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/custom/crawl_knowledge_icon_2.png*/;
    }

    .custom-section .text-icon {
        background-image: url("../img/crawl_text_icon_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/custom/crawl_text_icon_2.png*/;
    }

    .custom-section .img-icon {
        background-image: url("../img/crawl_img_icon_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/new/custom/crawl_img_icon_2.png*/;
    }

    .custom-section .text-mark {
        background-image: url("../img/text_mark_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/text_mark_2.png*/;
    }

    .custom-section .text-extract {
        background-image: url("../img/text_extract_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/text_extract_2.png*/;
    }

    .custom-section .text-verify {
        background-image: url("../img/text_verify_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/text_verify_2.png*/;
    }

    .custom-section .picture-filter {
        background-image: url("../img/picture_filter_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/picture_filter_2.png*/;
    }

    .custom-section .picture-extract {
        background-image: url("../img/picture_extract_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/picture_extract_2.png*/;
    }

    .custom-section .audio-clear {
        background-image: url("../img/audio_clear.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/audio_clear.png*/;
    }

    .custom-section .audio-text {
        background-image: url("../img/audio_text.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/audio_text.png*/;
    }

    .custom-section .page-contrast {
        background-image: url("../img/page_contrast.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/page_contrast.png*/;
    }

    .custom-section .page-clear {
        background-image: url("../img/page_clear.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/page_clear.png*/;
    }

    .custom-section .o2o-shop {
        background-image: url("../img/o2o_shop.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/icon/o2o_shop.png*/;
    }
}

@media (max-width: 1100px) {
    .custom-section.section-banner,
    .zui-section.section-banner {
        overflow: hidden;
    }
    .banner-line {
        width: 100%;
    }
    .custom-section.section-demand {
        overflow: hidden;
    }
    .custom-section.section-type,
    .custom-section.section-demand {
        width: auto;
    }
    .custom-type,
    .custom-demand {
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }
    .custom-type-tab,
    .scene-type-tab {
        margin: auto;
        width: 100%;
        text-align: center;
    }
    .custom-sub-type-content {
        width: 100%;
        margin-left: 0;
    }
    .custom-sub-type-img {
        float: none;
        position: absolute;
        left: 0;
        margin: 0;
        top: 0;
    }
    .custom-type-content-block {
        width: auto;
    }
    .custom-type-content-text {
        width: 100%;
        padding-right: 10px;
        box-sizing: border-box;
    }
    .custom-sub-type {
        margin-left: 35px;
        margin-right: 35px;
    }
    .custom-sub-type-content {
        padding-bottom: 30px;
    }
}
@media (max-width: 980px) {
    .custom-demand-content-block {
        width: 455px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 860px) {

}
@media (max-width: 800px) {

}
@media (max-width: 720px) {
    .custom-sub-type {
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media (max-width: 600px) {
}
@media (max-width: 560px) {
    .custom-sub-type-img {
        display: none;
    }
    .custom-type-content-text {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 480px) {
    .custom-sub-type {
        margin-left: 1px;
        margin-right: 1px;
    }
}
@media (max-width: 420px) {
    .custom-sub-type {
        padding-left: 5px;
        padding-right: 5px;
    }
    .bui-popup-customer-row input {
        width: 200px;
    }
    .bui-popup-customer-row.personal-code input {
        width: 90px;
    }
}
@media (max-width: 360px) {
    .custom-demand-content-block p {
        padding-right: 0;
        min-width: 95px;
    }
}