.section-processes .figure {
    background-color: #fff;
}

.section-introduce .group {
    color: #fff;
    background: url("../img/paas-banner.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/partner/paas-banner.png*/ right 0 no-repeat;
}

.product-nav .module-nav .nav {
    min-width: 190px;
}

.gailan2-CH, .gailan2-EN {
    width: 1180px;
    height: 628px;
    background-repeat: no-repeat;
    background-size: contain;
}
.gailan2-CH {
    background-image: url("../img/gailan2-CH.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/partner/gailan2-CH.png*/;
}

.gailan2-EN {
    background-image: url("../img/gailan2-EN.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/partner/gailan2-EN.png*/;
}

.features-yewu, .features-yonghu {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.features-yewu {
    background-image: url("../img/ico-yewu.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/partner/ico-yewu.png*/;
}

.features-yonghu {
    background-image: url("../img/ico-yonghu.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/partner/ico-yonghu.png*/;
}

.linghuo, .kexue, .wending {
    width: 70px;
    height: 60px;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.linghuo {
    background-image: url("../img/ico-linghuo.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/partner/ico-linghuo.png*/;
}

.kexue {
    background-image: url("../img/ico-kexue.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/partner/ico-kexue.png*/;
}

.wending {
    background-image: url("../img/ico-wending.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/partner/ico-wending.png*/;
}

.deploy-bushu-CH, .deploy-bushu-EN {
    width: 1180px;
    height: 265px;
    background-size: contain;
    background-repeat: no-repeat;
}

.deploy-bushu-CH {
    background-image: url("../img/bushu-CH.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/partner/bushu-CH.png*/;
}

.deploy-bushu-EN {
    background-image: url("../img/bushu-EN.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/partner/bushu-EN.png*/;
}

.section-processes .step1-icon,
.section-processes .step2-icon,
.section-processes .step3-icon,
.section-processes .step4-icon {
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin-left: 110px;
}

.section-processes .step1-icon {
    background-image: url("../img/step-1.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/partner/step-1.png*/;
}

.section-processes .step2-icon {
    background-image: url("../img/step-2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/partner/step-2.png*/;
}

.section-processes .step3-icon {
    background-image: url("../img/step-3.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/partner/step-3.png*/;
}

.section-processes .step4-icon {
    background-image: url("../img/step-4.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/partner/step-4.png*/;
}

.related-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/ico-saas.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/partner/ico-saas.png*/;
}

@media only screen and (min-device-pixel-ratio: 2) {
    .section-introduce .group {
        color: #fff;
        background: url("../img/paas-banner.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/partner/paas-banner.png*/ right 0 no-repeat;
    }

    .section-processes .step1-icon {
        background-image: url("../img/step-1_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/partner/step-1_2.png*/;
    }

    .section-processes .step2-icon {
        background-image: url("../img/step-2_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/partner/step-2_2.png*/;
    }

    .section-processes .step3-icon {
        background-image: url("../img/step-3_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/partner/step-3_2.png*/;
    }

    .section-processes .step4-icon {
        background-image: url("../img/step-4_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/partner/step-4_2.png*/;
    }
}