

.section {
    width: 100%;
    padding-bottom: 20px;
}

.banner-wrap {
    width: 100%;
    position: relative;
}

.banner {
    width: 100%;
    display: block;
}
.auto-title {
    font-size: 42px;
    line-height: 42px;
    color: #fff;
    letter-spacing: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -21px;
    left: 0;
}

.solution-wrap {
    padding-top: 80px;
    position: relative;
    display: block;
    width: 1100px;
    margin: auto;
}
.solution-content-top {
    display: block;
    padding-bottom: 50px;
}
.solution-top-title {
    font-size: 24px;
    color: #333;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    padding-bottom: 10px;
}
.solution-top-title-underline {
    width: 50px;
    height: 4px;
    box-sizing: border-box;
    border: 2px solid #1f87ed;
    margin: auto;
}

.solution-top-content {
    font-size: 14px;
    color: #999;
    letter-spacing: 0;
    line-height: 24px;
    text-align: justify;
    padding: 20px 0;
}
.solution-top-img {
    display: block;
    width: 100%;
}
.solution-list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.solution-list-item {
    padding: 40px 0;
    border-top: 1px dashed #ccc;
    box-sizing: border-box;
    min-height: 360px;
}
.solution-item-content-wrap {
    position: relative;
    padding-left: 10px;
}
.solution-item-title {
    font-size: 24px;
    color: #333;
    letter-spacing: 0;
    line-height: 24px;
    text-align: left;
    padding-top: 20px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
.solution-item-title-underline {
    width: 4px;
    height: 25px;
    box-sizing: border-box;
    border: 2px solid #1f87ed;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.solution-item-info {
    font-size: 14px;
    color: #999;
    letter-spacing: 0;
    line-height: 24px;
    text-align: justify;
    padding: 30px 0 20px;
}
.auto-item-data-list {
    display: block;
    position: relative;
}
.auto-item-data a {
    font-size: 14px;
    color: #1f87ed;
    letter-spacing: 0;
    line-height: 30px;
    text-align: left;
    cursor: pointer;
}
.auto-item-data a:hover {
    color: #0b5ba8;
    text-decoration: underline;
}
.solution-item-img-wrap {
    display: block;
    width: 500px;
    height: 280px;
}
.solution-item-img-wrap img {
    display: block;
    height: 100%;
    width: 100%;
}
.left .solution-item-img-wrap {
    float: right;
    margin-left: 75px;
}
.right .solution-item-img-wrap {
    float: left;
    margin-right: 75px;
}
.clear-both {
    clear: both;
}

.des-img {
    width: 1100px;
    height: 340px;
    background-size: cover;
}

.pilot-solution {
    background-image: url("../img/auto-pilot-solution.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/autopilot/auto-pilot-solution.png*/;
}

.pilot-road {
    background-image: url("../img/auto-pilot-road.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/autopilot/auto-pilot-road.png*/;
}

.pilot-road-info {
    background-image: url("../img/auto-pilot-road-info.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/autopilot/auto-pilot-road-info.png*/;
}

.pilot-road-split {
    background-image: url("../img/auto-pilot-road-spli.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/autopilot/auto-pilot-road-spli.png*/;
}

.pilot-road-3d {
    background-image: url("../img/auto-pilot-road-3d.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/autopilot/auto-pilot-road-3d.png*/;
}

.pilot-road-mark {
    background-image: url("../img/auto-pilot-road-mark.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/autopilot/auto-pilot-road-mark.png*/;
}

.detail-img {
    width: 500px;
    height: 280px;
    background-size: cover;
}

.security-solution-img {
    background-image: url("../img/security-solution.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/security/security-solution.png*/;
}

.security-car {
    background-image: url("../img/security-car.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/security/security-car.png*/;
}

.security-passerby {
    background-image: url("../img/security-passerby.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/security/security-passerby.png*/;
}

.security-road {
    background-image: url("../img/security-road.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/security/security-road.png*/;
}

.security-indoor-monitor {
    background-image: url("../img/security-indoor-monitor.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/security/security-indoor-monitor.png*/;
}

.security-anti-terror {
    background-image: url("../img/security-anti-terror.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/security/security-anti-terror.png*/;
}

.public-opinion-solution {
    background-image: url("../img/public-opinion-solution.jpg")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/public-opinion/public-opinion-solution.jpg*/;
}

.public-opinion-media {
    background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/public-opinion/public-opinion-media.png*/;
}

.social {
    background-image: url("../img/social.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/public-opinion/social.png*/;
}

.forum {
    background-image: url("../img/forum.jpg.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/public-opinion/forum.jpg*/;
}

.gongzhonghao {
    background-image: url("../img/gongzhonghao.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/public-opinion/gongzhonghao.png*/;
}

.face-recognition-solution {
    background-image: url("../img/face-recognition-solution.jpg")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/face-recognition/face-recognition-solution.jpg*/;
}

.one-person-multi-img {
    background-image: url("../img/one-person-multi-img.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/face-recognition/one-person-multi-img.png*/;
}

.multi-person-one-img {
    background-image: url("../img/multi-person-one-img.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/face-recognition/multi-person-one-img.png*/;
}

.xros-age-img {
    background-image: url("../img/xros-age-img.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/face-recognition/xros-age-img.png*/;
}

.multi-pose-img {
    background-image: url("../img/multi-pose-img.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/face-recognition/multi-pose-img.png*/;
}

.special-scene-img {
    background-image: url("../img/special-scene-img.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/face-recognition/special-scene-img.png*/;
}

.business-card {
    background-image: url("../img/business-card.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/ocr/business-card.png*/;
}

.bank-card {
    background-image: url("../img/bank-card.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/ocr/bank-card.png*/;
}

.multi-scene {
    background-image: url("../img/multi-scene.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/ocr/multi-scene.png*/;
}

.ocr-plate {
    background-image: url("../img/ocr-plate.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/ocr/ocr-plate.png*/;
}

.ocr-solution {
    background-image: url("../img/ocr-solution.jpg")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/ocr/ocr-solution.jpg*/;
}

.speech-solution {
    background-image: url("../img/speech-solution.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/speech/speech-solution.png*/;
}

.text-based-speech {
    background-image: url("../img/text-based-speech.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/speech/text-based-speech.png*/;
}

.variety-speech {
    background-image: url("../img/variety-speech.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/speech/variety-speech.png*/;
}

.theme-based-speech {
    background-image: url("../img/theme-based-speech.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/speech/theme-based-speech.png*/;
}

.children-speech {
    background-image: url("../img/children-speech.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/speech/children-speech.png*/;
}


@media only screen and (min-device-pixel-ratio: 2) {
    .pilot-solution {
        background-image: url("../img/auto-pilot-solution_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/autopilot/auto-pilot-solution_2.png*/;
    }

    .security-solution-img {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/security/security-solution_2.png*/;
    }

    .public-opinion-solution {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/public-opinion/public-opinion-solution_2.png*/;
    }

    .face-recognition-solution {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/face-recognition/face-recognition-solution_2.png*/;
    }

    .ocr-solution {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/ocr/ocr-solution_2.png*/;
    }

    .speech-solution {
        background-image: url("../img/speech-solution_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/speech/speech-solution_2.png*/;
    }
}

@media (max-width: 1100px) {
    .banner-wrap {
        height: 180px;
        overflow: hidden;
    }
    .solution-list-item {
        overflow: hidden;
    }
    .banner {
        width: auto;
        height: 100%;
    }
    .solution-wrap {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }
    .solution-wrap {
        padding-top: 30px;
    }
}
@media (max-width: 980px) {
}
@media (max-width: 860px) {

    .left .solution-item-img-wrap,
    .right .solution-item-img-wrap {
        display: block;
        margin: auto;
        text-align: center;
        float: none;
    }
}
@media (max-width: 800px) {
}
@media (max-width: 720px) {

}
@media (max-width: 600px) {
}
@media (max-width: 480px) {
    .auto-title {
        font-size: 36px;
    }
}
@media (max-width: 420px) {
    .auto-title {
        font-size: 30px;
    }
}