.section-survey {
    font-family: "microsoft yahei", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #999;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.section-survey a {
    cursor: pointer;
    text-decoration: none;
}
.section-survey a:hover {
    text-decoration: none;
}
.section-survey p {
    margin: 0;
    padding: 0;
}
.section-survey .fl {
    float: left;
}
.section-survey .fr {
    float: right;
}
.section-survey .mt10 {
    display: inline-block;
    padding-top: 10px;
}
.section-survey .mt31 {
    margin-top: 31px;
}

.section-survey .mr5 {
    margin-right: 5px;
}
.section-survey .qss-primary-btn {
    background: #0e8cee;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    padding: 7px 25px;
    display: inline-block;
}
.section-survey .qss-primary-btn:hover {
    background: #37a8ff;
    box-shadow: 0 0 6px 0 #37a8ff;
    color: #fff;
}
.section-survey .qss-btn {
    color: #0e8cee;
    border: 1px solid #0e8cee;
    border-radius: 3px;
    font-size: 16px;
    padding: 7px 25px;
    display: inline-block;
    cursor: pointer;
}
.section-survey .qss-btn:hover {
    background: #0e8cee;
    color: #fff;
}
.section-survey .qss-a {
    font-size: 14px;
    color: #0e8cee;
    display: block;
}
.section-survey .qss-a:hover {
    color: #37a8ff;
}
.section-survey .qss-header-wrap {
    background: #12181d;
    width: 100%;
}
.section-survey .qss-content-container {
    width: 1120px !important;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
}
.section-survey .qss-service-content-container {
    width: 1140px !important;
}
.section-survey .qss-header-detail {
    padding-top: 94px;
    padding-left: 22px;
    padding-bottom: 120px;
}
.section-survey .qss-header-detail-title {
    font-size: 48px;
    color: #fff;
}
.section-survey .qss-header-detail > p {
    color: #c9c9c9;
}
.section-survey .qss-color-red {
    color: #ff6411;
    font-style: italic;
}
.section-survey .qss-header-detail-content {
    margin: 20px 0 40px;
}
.section-survey .qss-service-wrap {
    padding: 60px 0 80px;
    background: #fff;
}
.section-survey .qss-service-title {
    font-size: 36px;
    color: #333;
    line-height: 36px;
    text-align: center;
}
.section-survey .qss-service-tree-wrap {
    float: left;
    position: relative;
    left: 50%;
}
.section-survey .qss-service-tree {
    float: left;
    position: relative;
    left: -50%;
    margin-top: 26px;
    height: 384px;
    padding: 14px 0;
    zoom: 1;
}
.section-survey .qss-service-tree-item {
    float: left;
    border: 1px solid #e4e4e4;
    width: 372px;
    height: 382px;
    text-align: center;
    margin-right: -1px;
    position: relative;
    -webkit-transition: all .3s cubic-bezier(.4, 0, .2, 1);
       -moz-transition: all .3s cubic-bezier(.4, 0, .2, 1);
         -o-transition: all .3s cubic-bezier(.4, 0, .2, 1);
            transition: all .3s cubic-bezier(.4, 0, .2, 1);
}
.section-survey .qss-service-tree-item.active {
    background: #fff;
    border: 1px solid #0e8cee;
    box-shadow: 0 0 6px 2px rgba(14, 140, 238, .3);
    padding: 10px 5px;
    z-index: 2;
    top: -10px;
}
.section-survey .qss-service-tree-item-img {
    margin-top: 20px;
    vertical-align: bottom;
}
.section-survey .qss-service-tree-item-title {
    font-size: 24px;
    margin: 20px 0;
    color: #333;
}
.section-survey .qss-service-tree-item-content > p {
    font-size: 16px;
    color: #999;
    line-height: 24px;
}
.section-survey .qss-service-tree-item-btn {
    margin-top: 32px;
}
.section-survey .qss-product-wrap {
    background: #fafafa;
    overflow: hidden;
    zoom: 1;
}
.section-survey .qss-product-title {
    font-size: 36px;
    color: #333;
    line-height: 36px;
    text-align: center;
    padding-top: 60px;
}
.section-survey .qss-product-tree {
    margin-bottom: -2px;
}
.section-survey .qss-product-item {
    overflow: hidden;
    zoom: 1;
    border-bottom: 2px dotted #ccc;
}
.section-survey .qss-product-item-title {
    font-size: 24px;
    color: #333;
    margin: 134px 0 15px;
}
.section-survey .qss-product-item p {
    line-height: 30px;
}
.section-survey .qss-product-item-cover {
    margin-bottom: 40px;
}
.section-survey .qss-product-item-quality {
    margin-top: 39px;
    margin-bottom: 30px;
}
.section-survey .qss-product-item-quality {
    margin-top: 29px;
    margin-bottom: 63px;
}
.section-survey .qss-process-wrap {
    color: #fff;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../img/qss_process_bg.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/qss_process_bg.png*/;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/mark/static/img/zhongbao/survey/new/qss_process_bg.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/mark/static/img/zhongbao/survey/new/qss_process_bg.png',sizingMethod='scale')";
    -ms-behavior: url("backgroundsize.min.htc")/*tpa=http://zhongbao.baidu.com/mark/static/css/zhongbao/new/{%$BASE_DIR%}static/home/ngTemplate/survey/backgroundsize.min.htc*/;
    behavior: url("backgroundsize.min.htc")/*tpa=http://zhongbao.baidu.com/mark/static/css/zhongbao/new/{%$BASE_DIR%}static/home/ngTemplate/survey/backgroundsize.min.htc*/;
}
.section-survey .qss-process-title {
    font-size: 36px;
    margin-top: 43px;
    text-align: center;
}
.section-survey .qss-process-tree {
    overflow: hidden;
    zoom: 1;
    margin-right: -40px;
    margin-top: 80px;
}
.section-survey .qss-process-item {
    float: left;
    width: 540px;
    margin-right: 40px;
}
.section-survey .qss-process-item-title {
    font-size: 24px;
    margin-right: 20px;
    vertical-align: middle;
}
.section-survey .qss-process-item label {
    margin-right: 40px;
    vertical-align: middle;
    font-size: 16px;
}
.section-survey .qss-process-item label img {
    margin-right: 14px;
    vertical-align: middle;
}
.section-survey .qss-process-item-detail {
    background: rgba(0, 0, 0, .1);
    border: 1px solid #777;
    width: 538px;
    text-align: center;
    padding: 16px 0 24px;
    margin-top: 33px;
}
.section-survey .qss-process-item-detail-title {
    font-size: 16px;
    color: #fff;
    margin-top: 26px;
}
.section-survey .qss-case-wrap {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 191px;
}
.section-survey .qss-case-title {
    font-size: 36px;
    color: #333;
    text-align: center;
}
.section-survey .qss-case-content {
    font-size: 16px;
    color: #666;
    margin-top: 70px;
}
.section-survey .qss-case-tree {
    overflow: hidden;
    zoom: 1;
    margin-right: -135px;
    padding: 40px 0;
    border-bottom: 2px dotted #ccc;
}
.section-survey .qss-case-item {
    width: 116px;
    text-align: center;
    margin-right: 135px;
    font-size: 14px;
    color: #666;
    float: left;
}
.section-survey .qss-case-btn-wrap {
    margin-top: 60px;
    overflow: hidden;
    zoom: 1;
    margin-right: -120px;
}
.section-survey .qss-case-primary-btn {
    background: #0e8cee;
    border-radius: 3px;
    width: 500px;
    height: 76px;
    text-align: center;
    margin-right: 120px;
    display: inline-block;
    font-size: 16px;
    line-height: 76px;
    color: #fff;
}
.section-survey .qss-case-primary-btn:hover {
    background: #37a8ff;
    box-shadow: 0 0 6px 0 #37a8ff;
    color: #fff;
}
.section-survey .qss-case-btn {
    background: #f5f5f5;
    border-radius: 3px;
    width: 500px;
    height: 76px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    line-height: 76px;
    color: #666;
}
.section-survey .qss-case-btn:hover {
    background: #0e8cee;
    color: #fff;
}

.banner-img-CH {
    width: 640px;
    height: 430px;
    background-size: cover;
    background-image: url("../img/qss_header.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/qss_header.png*/;
}

.banner-img-EN {
    width: 640px;
    height: 430px;
    background-size: cover;
    background-image: url("../img/qss_header.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/qss_header.png*/;
}

.survey-service-icon {
    width: 92px;
    height: 92px;
    background-size: cover;
    margin-left: 141px;
}

.qss-search-icon {
    background-image: url("../img/qss_search.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/qss_search.png*/;
}

.qss-sample-icon {
    background-image: url("../img/qss_sample.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/qss_sample.png*/;
}

.qss-custom-icon {
    background-image: url("../img/qss_custom.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/qss_custom.png*/;
}

.product-cover-CH {
    background-image: url("../img/qss_product_cover.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/qss_product_cover.png*/;
}

.product-quality-CH {
    background-image: url("../img/qss_product_quality.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/qss_product_quality.png*/;
}

.product-data-CH {
    background-image: url("../img/qss_product_data.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/qss_product_data.png*/;
}

.product-quality-EN {
    background-image: url("../img/qss_product_quality_EN.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/qss_product_quality_EN.png*/;
}

.project-adv-img {
    background-size: cover;
}

.product-dev-text-wrap {
    width: 400px;
}

.process-img {
    width: 512px;
    height: 205px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 14px;
}

.process-standard-img-CH {
    background-image: url("../img/qss_process_standard.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/qss_process_standard.png*/;
}

.process-custom-img-CH {
    background-image: url("../img/qss_process_custom.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/qss_process_custom.png*/;
}

.process-standard-img-EN {
    background-image: url("../img/qss_process_standard_EN.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/qss_process_standard_EN.png*/;
}

.process-custom-img-EN {
    background-image: url("../img/qss_process_custom_EN.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/qss_process_custom_EN.png*/;
}

.cases-company-logo {
    width: 116px;
    height: 116px;
}

.cases-dataway {
    background-image: url("../img/dataway.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/dataway.png*/;
}

.cases-ctr {
    background-image: url("../img/ctr.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/ctr.png*/;
}

.cases-nielsen {
    background-image: url("../img/nielsen.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/nielsen.png*/;
}

.cases-iresearch {
    background-image: url("../img/iresearch.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/iresearch.png*/;
}

.cases-ndateam {
    background-image: url("../img/ndateam.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/ndateam.png*/;
}

@media screen and (max-width: 1150px) {
    .section-survey .qss-container {
        width: 1150px;
        margin: 0 auto;
    }
}

@media only screen and (min-device-pixel-ratio: 2) {
    .qss-search-icon {
        background-image: url("../error.html")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/qss_search_2.png*/;
    }

    .qss-sample-icon {
        background-image: url("../img/qss_sample_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/qss_sample_2.png*/;
    }

    .qss-custom-icon {
        background-image: url("../img/qss_custom_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/qss_custom_2.png*/;
    }

    .product-cover-CH {
        background-image: url("../img/qss_product_cover_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/qss_product_cover_2.png*/;
    }

    .product-quality-CH {
        background-image: url("../img/qss_product_quality_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/qss_product_quality_2.png*/;
    }

    .product-data-CH {
        background-image: url("../img/qss_product_data_2.png")/*tpa=http://zhongbao.baidu.com/mark/static/img/zhongbao/survey/new/qss_product_data_2.png*/;
    }
}
